html{
    background-color: #efefef;
}
body{
    margin: 0;
}

body section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 18px;
    margin-top: 0 ;
    background-color: rgb(93, 128, 161);
    color: aliceblue;
    height: 160px;
    text-align: center;
}

header button{
    background-color:rgb(93, 128, 161) ;
    border: 0;
    color:#fff;
    transition: box-shadow 0.4s ease;
    height: 40px;
    border-radius: 4px;
}

header button:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6) ;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

#title{
    margin-top: 0px ;
    text-decoration: underline;
    user-select: none;
}



footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 18px;
    margin-top: 100px ;
    background-color: rgb(93, 128, 161);
    color: aliceblue;
    height: 150px;
    display: flex;
    justify-content: space-around;
    
}

a:visited{
    color: #fff;
}

a:link{
    color: #fff;
}

a:hover{
    color: rgb(51, 62, 83);
}

footer a{
    transition: color 0.4s ease;
}
