<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Autores | Libreria Joaquincho</title>
        <link rel="stylesheet" href="/css/objetList.css" type="text/css"/>
        <link rel="stylesheet" href="/css/books.css" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h1 id="title">Libreria Online</h1>
            <button id="goIndex" onclick="location.href = '/'">Volver al inicio</button>
        </header><br>
        <label align="center"th:if="${error != null}" th:text="${error}" style=" color: red"></label><br>
        <input type="checkbox" id="btn-modal">
        <label for="btn-modal" class="lbl-modal" sec:authorize="hasRole('ROLE_ADMIN')">Agregar autor</label><br>
        
        <div class="modal">
            <div class="contenedor">
                <h1 align="center">Ingrese los datos del autor</h1>
                <form th:if="${session.sessionUsuario != null}" class="agregarAutor" action="/autores" method="POST" >
                    <div>
                        <label for="isbn">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <div class="botones">
                        <button type="submit" id="add">Agregar</button>
                    </div>
                </form>

                <label for="btn-modal" id="lbl-cerrar">Cerrar</label>
            </div>
        </div>
        <section class="content">
            
            <table class="form-control" name="autores">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                </tr>
                <tr th:each="autor : ${authors}">
                    <td th:text="${autor.id}"></td>
                    <td th:text="${autor.nombre}"></td>
                </tr>
            </table>
        </section>


        <footer class="footer">
            <a href="#title">Subir</a>
            <a href="mailto:joacovas@hotmail.com">Contactanos</a>
            <label id="copyrigth">@Copyrigth 2021</label>
        </footer>
    </body>
</html>