<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria Joaquincho | Alquila tus libros gratis!</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />

    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <header class="header">
        <h1 id="title">Libreria Online</h1>
        <div>
            <div class="buttons" th:if="${session.sessionUsuario == null}">
                <button class="login" onclick="location.href = '/log-in'">Iniciar Sesion</button>
                <button class="signup" onclick="location.href = '/signup'">Registrarse</button>
            </div>
            <div class="buttons" th:if="${session.sessionUsuario != null}">
                <button id="logout" onclick="location.href='/logout'">Cerrar sesion</button>
                <button class="signup" onclick="location.href='/account'">Mi Cuenta</button>
            </div>
        </div>

    </header>

    <section class="navBar">
        <button class="books" onclick="location.href = '/books'">Libros</button>
        <button class="authors" onclick="location.href = '/autores'">Autores</button>
        <button class="editorial" onclick="location.href = '/editoriales'">Editoriales</Button>
        <form class="form-area" action="/search" method="post">
            <button type="submit" class="searchButton">Buscar</button>
            <input type="text" name="text" id="search">
        </form>

    </section><br><br>

    <input type="checkbox" id="btn-modal">
    <label for="btn-modal" class="lbl-modal" sec:authorize="hasRole('ROLE_ADMIN')">Agregar noticia</label>

    <div class="modal">
        <div class="contenedor">
            <h1 align="center">Crear nueva noticia</h1>
            <form class="form-area-noticia" id="agregarNoticia" action="/news" method="post"
                enctype="multipart/form-data">
                <div id="textoNoticia">
                    <label for="text">Texto</label>
                    <textarea type="textar" name="textNoticias" id="textNoticias" rows="10" cols="40"
                        placeholder="Describe la noticia"></textarea>
                    <br>
                    <label for="noticiaFoto">Foto de la noticia</label><br>
                    <input type="file" name="noticiaFoto" id="noticiaFoto">
                </div><br>
                <div class="botones">
                    <button type="submit" id="addNew">Agregar</button>
                    <label for="btn-modal" id="lbl-cerrar">Cerrar</label>
                </div>

            </form>


        </div>
    </div>
    <label th:if="${error != null}" th:text="${error}" style=" color: red"></label>

    <section class="content">
        <div th:each="noticia, iterStat : ${noticias}" 
            th:class="${iterStat.even ? 'noticia-container noticia-left' : 'noticia-container noticia-right'}">
            <img th:src="${'/foto/noticia/' + noticia.id}" alt="libreria" class="noticia-img">
            <p th:text="${noticia.texto}" class="noticia-text"></p>
            <p th:text="${noticia.fecha}" class="noticia-date"></p>

            <form action="/delete-new" method="post" style="display:inline;" sec:authorize="hasRole('ROLE_ADMIN')">
                <input type="hidden" name="noticiaId" th:value="${noticia.id}" />
                <button type="submit" class="delete-button" title="Eliminar noticia" onclick="return confirm('¿Estás seguro de que deseas eliminar esta noticia?');">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
        <br><br>
    </section>


     <!--       <div class="cho-container">
                </div>
                  <label th:text="${preference}" id="preference"></label>
                <label th:text="${item.title}"></label>
                <label th:text="${item.unitPrice}"></label>-->
    <footer class="footer">
        <a href="mailto:joacovas@hotmail.com">Contactanos</a>
        <a href="#title">Subir</a>

        <label id="copyrigth">@Copyrigth 2021</label>
    </footer>
</body>

</html>