<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regristo | Libreria Joaquincho</title>
    <link rel="stylesheet" href="/css/singup.css" type="text/css"/>
</head>
<body>
    
    <header class="header">
        <h1 id="title">Libreria Online</h1>
        
        <h3 id="title2">Regristro nuevo usuario</h3>
        <button id="goIndex" onclick="location.href='/'">Volver al inicio</button>
    </header><br><br>


    <section >
        
        <form class="form-area" action="/signup" method="post" enctype="multipart/form-data">
            <div class="name">
                <label for="name">Nombre de usuario*</label><br>
                <input type="text" name="name" id="name" th:value="${name}" />
            </div>
            <div class="password">
                <label for="password">Contraseña*</label><br>
                <input type="password" name="password" id="password1" th:value="${password}"/>
            </div>
            <div class="password">
                <label for="password">Ingrese nuevamente la contraseña*</label><br>
                <input type="password" name="password2" id="password2"  th:value="${password2}"/>
            </div>
            <div class="email">
                <label for="email">Correo electronico*</label><br>
                <input type="email" name="email" id="email" th:value="${email}" />
            </div>
            <div class="profImg">
                <label for="profimg">Foto de perfil</label><br>
                <input type="file" name="profimg" id="profimg">
            </div>
            <div class="buttons">
                <button type="submit">Registrarme</button>
                <button type="reset">Borrar</button>
            </div>
            <a href="/log-in">or login</a>
            <label th:if="${error != null}" th:text="${error}" style=" color: red"></label>
        </form>
    </section>


    <footer class="footer">

        <a href="#title">Subir</a>
        <a href="mailto:joacovas@hotmail.com">Contactanos</a>
        <label id="copyrigth">@Copyrigth 2021</label>
    </footer>
</body>
</html>